[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
	branch = version1.1.0
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
